<form class="input-container" action="/search" method="POST">
  <div class="area">  
    <label for="area">Area:</label>
    <select name="area" class="selector input-field">
      <option value="gb">The U.K.</option>
      <option value="us">The U.S.</option>
    </select>
  </div>
  <input class="input-field" name="title" type="text" placeholder="Enter desired job">
  <input class="input-field" name="location" type="text" placeholder="Enter location">
  <div class="submit-btn">
    <img src="images/icons/search.svg">
    <input class="btn-content" type="submit" value="Find">
  </div>
</form>