<%- include('partials/header.ejs') %>

<main class="home-main">
    <!-- A form to collect search data -->
    <%- include('partials/search.ejs') %>
    <div class="slider-container">
        <div class="wrapper">
            <img id="slide-1" src="images/slideshow/1.jpg">
            <img id="slide-2" src="images/slideshow/2.jpg">
            <img id="slide-3" src="images/slideshow/3.jpg">
        </div>
    </div>
</main>

<section class="home-footer">
    <%- include('partials/footer.ejs') %>
</section>